@font-face {
  font-family: 'Norse-Bold';
  src: url(./assets/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  height: 100vh;
}

section.picture {
  background: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  width: 33%;
  min-width: 300px;
}
.logo {
  margin-top: 25vh;
}

.logo-icon {
  width: 100px;
}

.logo-title {
  color: white;
  font-style: 'Norse-Bold', sans-serif;
  display: inline-block;
}

section.form-container {
  display: flex;
  flex-direction: column;
}

#user-form {
  display: flex;
}