@font-face {
  font-family: 'Norse-Bold';
  src: url(./assets/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  height: 100vh;
}

section.picture {
  background: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  width: 33%;
  min-width: 300px;
}
.logo {
  margin-top: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
}

.logo-icon {
  width: 100px;
}

.logo-title {
  font-family: 'Norse-Bold', sans-serif;
  font-size: 10rem;
}

.picture {
  position: relative;
  color: white;
}

.credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.credits a {
  color: inherit;
}

section.form-container {
  display: flex;
  flex-direction: column;
}

#user-form {
  display: flex;
}